<p style="text-align: center">
  <a class="btn btn-primary register" href="{{ register_url }}" role="button">
    {{ register_text | default: 'Register Now!<br>(In Person)' }}
  </a>
  <a class="btn btn-primary register" href="{{ register_url_online }}" role="button">
    {{ register_text | default: 'Register Now!<br>(Livestream)' }}
  </a>
</p>
{% if register_by_mail_path %}
<p style="text-align: center">
  Or <a href="{{register_by_mail_path}}">mail a check with this form</a>
</p>
{% endif %}